# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Go coverage output
*.out

# Go workspace file
go.work
go.work.sum

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
